.weather_div {
    background-color: rgba(96, 111, 146, 0.671);
    height: 600px;
    max-width: 400px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 2;
    font-size: 30px;
    color: whitesmoke;
    text-align: center;
    z-index: 3;
    backdrop-filter: blur(8px);
    border-radius: 20px;
}

.weather_div.warm {
    background-color: rgba(170, 80, 80, 0.808);
    transition: background-color .4s ease;
    backdrop-filter: blur(8px);
}
.error_message {
    font-size: 35px;
}

.filler_message {
    font-size: 20px;
    max-width: 320px;
    line-height: 1.5;
    position: relative;
    left: 50%;
    margin-top: 100px;
    transform: translate(-50%);
}

.circle1 {
    height: 300px;
    width: 300px;
    background-color: rgba(137, 164, 240, 0.205);
    border-radius: 100%;
    position: absolute;
    left: -10%;
    top: -5%;
    z-index: -5;
}

.circle1.warm,
.circle2.warm {
    background-color: rgba(235, 192, 76, 0.842);
}

.circle2 {
    height: 200px;
    width: 200px;
    background-color: rgba(137, 164, 240, 0.445);
    border-radius: 100%;
    position: absolute;
    top: 75%;
    left: 60%;
}

.big_div {
    max-width: 600px;
    position: relative;
    left: 50%;
    margin-top: 40px;
    transform: translate(-50%);
}